
= form_for(:mingle, @mingle, :url => mingle_index_path, :html => one_submit_only(:mingle), :remote => true) do |f|
  - f.object.properties.each do |property|
    = hidden_field_tag "mingle[properties][][name]", property[:name]
    = hidden_field_tag "mingle[properties][][value]", property[:value]

  = f.error_messages :object_name => t('mingle')
  = link_to_close new_mingle_path

  %table
    %tr
      %td
        .label.top.req Project:
        = select_tag "mingle[project]", options_for_select([['TestIt', 'testit'], ['Village Development', 'village']]), :style => "width:160px;"
      %td= spacer
      %td
        .label.top.req Name:
        = f.text_field :name, :style => "width:160px;"

  .buttonbar
    = f.submit t(:create_mingle), :onclick => "crm.create_mingle()"
    #{t :or}
    = link_to_cancel new_mingle_path
