- assets = :mingle
- asset = assets.to_s.singularize
- create_id  = :"create_#{asset}"
- select_id  = :"select_#{asset}"
- create_url = controller.send("new_#{asset}_path", :mingle => {:properties => [{:name => "CRM #{related.class.name}", :value => related.id}]})

%br
= content_tag(:div, link_to_inline(create_id, create_url, :related => dom_id(related), :text => t(create_id)), :class => "subtitle_tools")
= content_tag(:div, t(assets), :class => :subtitle, :id => :"create_#{asset}_title")
= content_tag(:div, "", :class => :remote, :id => create_id, :style => "display:none;")

- if mingle_configured?
  %ul.log#mingle
    - Mingle.all(:conditions => ["'CRM #{related.class.name}' = #{related.id}"]).each do |mingle|
      = render :partial => 'fat_free_crm_mingle/mingle/mingle', :locals => {:mingle => mingle}
